body {
    width: 100vh;
}
li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}
.spans {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

/* outer container */
.container {
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-right: 200px;

  }

/* photo settings */
.cv-photo {
    border-radius: 50%;
    padding: 5px;
}

/* for profile and competences */
#competences {
    background-color: rgb(26, 26, 29);
    width: 300px;
    color: rgba(245, 245, 245, 0.849);

}
#career-container {
    padding: 0;
    margin: 0;
}

/* experiences and courses(formation) */
.formation-et-experience {
    padding-top: 15px;
    background-color: rgb(223, 210, 210);
    max-width: 700px;
}

.competences, .qualites, .languages, .hobbies {
    padding-top: 15px;
}

.asides {
    padding-bottom: 40px;
}

.asides li {
    color: whitesmoke;
    display: flex;
}
.cv-title {
    background-color: rgba(140, 90, 90, 0.432);
    max-width: 700px;
    
}